.main-page{
  position: relative;
  width: 100%;
  .header-container{
    position: fixed;
    z-index: 10;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 2rem;
    box-shadow: 0 5px 5px #f0efefee;
    background-color: #FFFFFF;
    .header-left{
      .back-btn{
        padding-right: 15px;
        cursor: pointer;
      }
      .header-logo{
        display: flex;
        align-items: center;
        .app-logo{
          width: 30px;
          height: 30px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
        cursor: pointer;
      }
    }
    .header-right{
      .auth-btn{
        color:#3D3D3D;
      }
      .header-item{
        margin-right: 10px;
      }
      .header-btn{
        cursor: pointer;
        color: #123FBC;
        &:hover{
          transform: scale(1.03);
        }
      }
    }
  }
  .page-content{
    position: absolute;
    left:0;
    top: 65px;
    height: calc(100vh - 65px);
    width: 100%;
  }
}