.user-dashboard{
  .restaurants-search{
    display: flex;
    align-items: center;
    margin: 1rem auto;
    width: fit-content;
    .input-field{
      width: 230px;
      margin-right: 20px;
      height: 40px;
    }
    .search-btn{
      height: 40px;
    }
  }
  .restaurants-list-container{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    .restaurants-list{
      display: grid;
      grid-gap: 30px 20px;
      grid-template-columns: auto auto auto;
      justify-content: space-evenly;
      width: 800px;
      margin:1rem auto;
    }
    .noData-container{
      background-color: rgb(198, 222, 238);
      width: 800px;
      margin: 0 auto;
    }
  }
}