.user-dashboard{
  padding: 20px 0;
  .page-title{
    font-family: Poppins;
    font-size: 18px;
  }
  .restaurants-search{
    display: flex;
    align-items: center;
    margin: 1rem auto;
    width: fit-content;
    .input-field{
      width: 300px;
      margin-right: 20px;
      height: 40px;
    }
    .search-btn{
      height: 40px;
    }
  }
  .restaurants-list-container{
    min-height: 400px;
    .restaurants-list{
      display: grid;
      grid-gap: 30px 20px;
      grid-template-columns: auto auto auto;
      justify-content: space-evenly;
      width: 800px;
      margin:1rem auto;
    }
    .noData-container{
      width: 800px;
      margin: 0 auto;
      .empty-list-icon{
        height: 80px;
        width: 80px;
        margin-bottom: 10px;
      }
      .empty-text{
        font-family: Poppins;
      }
    }
  }
}