.menu-item{
  margin-bottom: 1rem;
  width: 370px;
  padding: .5rem .3rem;
  border: 1px solid #3D3D3D;
  border-radius: 6px;
  transition: all .3s;
  &:hover{
    transform: scale(1.03);
  }
  .item-img{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  .item-content{
    
  }
  .item-options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
  }
}
.cancel-btn, .confirm-btn{
  text-transform: none;
  padding: 5px 10px;
}