*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.custom-file-input{
  &::-webkit-file-upload-button {
    display: none;
  }
  &::before{
    content: 'Upload Image';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    margin-right: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  &:hover::before {
    border-color: black;
  }
}

.noData-container{
  width: 800px;
  margin: 0 auto;
  .empty-list-icon,.empty-cart-icon{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
  }
  .empty-text{
    font-family: Poppins;
  }
}

.MuiButton-root{
  text-transform: none !important;
  letter-spacing: .05em !important;
}