.menu-item{
  flex-grow: 1;
  margin-bottom: 1rem;
  width: 400px;
  padding: .5rem .3rem;
  border: 1px solid #3D3D3D;
  .item-img{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  .item-content{
    
  }
  .item-options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
  }
}